<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    {% block javascript %}{% endblock %}
</head>
<body>
    {% include "includes/nav.html" %}
    {% if request.session.nick %}
        Logged in as {{ request.session.nick }} | <a href="/profile">Profile</a> | <a href="/logout">Log out</a>
    {% else %}
        <a href="/login">Log in</a> | <a href="/signup">Sign Up</a>
    {% endif %}

    <div style="clear: both;">
    {% block content %}{% endblock %}
    </div>
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>