{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
{% if request.session.login_attempts and request.session.login_attempts > 0 %}
        Login attempts {{ request.session.login_attempts }}<br/>
{% endif %}

{% if error %}
  <span style="color: red;">{{ error }}</span><br/>
{% endif %}

<form id="login" action="/login/" method="post">
    {% csrf_token %}
    <input type="text" name="nick" value="{{ nick }}" placeholder="Username or E-mail"><br/>
    <input type="password" name="password" value="" placeholder="Password"><br/>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Login">
</form>

{% if help %}
<p>
Did you <a href="/forgot/">forget your password</a> and need help login in?
</p>
{% endif %}

{% endblock %}