{% extends "base.html" %}
{% block title %}{{ user.nick }} Photos{% endblock %}


{% block javascript %}
<!-- http://gridster.net/ -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.gridster.min.css">
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script src="/static/js/jquery.gridster.min.js"></script>

<!-- TODO, see effect on drag-n-drop -->
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->

<style>
#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin: 0 3px 3px 3px; padding: 2px; cursor: move; }
#sortable li span { margin-left: 20px; }
</style>


<script type="text/javascript">
    function upload_pic(event) {
        $("div#upload_box").show();
    }

    function cancel_upload(event) {
        $("div#upload_box").hide();
    }

    function reload_upload() {
        // Must be hidden after the form's events are set.
        $("input#upload_token").val("{{ csrf_token }}");
        $("div#upload_box").hide();
    }

    function reload_grid() {
        var gridster;
        gridster = $(".gridster > ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140],
            max_cols: 4,
            max_rows: 4
        }).data('gridster');
    }

    function reload_reorder_photos() {
        $("input#reorder_photos_token").val("{{ csrf_token }}");
        $("form#reorder_photos").submit(function(event) {
            event.preventDefault();

            $.ajax({
                type:"POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                dataType: "json",
                success: function(response){
                    $("#photos_ajax").html(response.html);
                    reload_reorder_photos();
                }
            });
            return false;
        });

        $("#sortable").sortable({
            axis: 'y',
            containment: "parent",
            cursor: "move",
            opacity: 0.5,
            // Try using "change" instead of "update"
            update: function( event, ui ) {
                // Zero-based index
                var photo = ui.item.attr("id");
                var new_index = ui.item.index();

                $("#reorder_photos input[name='photo']").attr("value", photo);
                $("#reorder_photos input[name='index']").attr("value", new_index);
                $("form#reorder_photos").submit();
            }
        });
        $("#sortable").disableSelection();
    }

    // TODO, consider user AJAX to make request, and remove elements from DOM tree
    // instead of reloading all of the other photos.
    function delete_photo(name) {
        $("form#delete_photo input[name='file']").val(name);
        $("form#delete_photo").submit();
    }

    $(function() {
        reload_upload();
        reload_reorder_photos();
        reload_grid();
    });
</script>
{% endblock %}

{% block content %}
<div style="clear: both;">
    <h2>{{ user.nick }}</h2>

    <h2><a href="/photos">Photos</a></h2>

    <!-- Box to upload new photo. TODO, make modal -->
    <div>
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}

        {% if new_photo %}
            <div id="new_photo">
                Successfully added photo. Try scaling it.
            </div>
        {% endif %}
        <a href="#" onclick="javascript:upload_pic(event);">Add</a>
        <div id="upload_box" style="height: 400px; border: 2px solid black;">
            <form id="upload" action="/photos/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file_path" accept="image/*" size="50"/>
                <a href="#">Facebook</a>
                <a href="#">Dropbox</a>
                <a href="#">Instagram</a>
                <br/>
                <input type="submit" value="Upload">
                <a href="#" onclick="javascript:cancel_upload(event);">Cancel</a>
            </form>
        </div>
    </div>

    <div id="photos_ajax">
        {% include "photos_ajax.html" %}
    </div>

    <div style="clear: both;"></div>
</div>
{% endblock %}