{% extends "base.html" %}
{% block title %}{{ user.nick }} Photos{% endblock %}


{% block javascript %}
<!-- http://gridster.net/ -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.gridster.min.css">
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script src="/static/js/jquery.gridster.min.js"></script>

<!-- http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/ -->
<link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="/static/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    function open_file_chooser(event) {
        $("div#upload_box").dialog("open");
    }

    function reload_upload() {
        // Must be hidden after the form's events are set.
        $("input#upload_token").val("{{ csrf_token }}");

        $("div#upload_box").dialog({
            autoOpen: false,
            resizable: false,
            width: 600,
            height: 250,
            modal: false,
            buttons: {
                "Upload": function() {
                    $("form#upload").submit();
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            }
        });
    }

    // Global variable used to indicate that a drag is in progress.
    var dragging = 0;
    function reload_grid() {
        var gridster;
        gridster = $(".gridster > ul").gridster({
            widget_margins: [20, 20],
            widget_base_dimensions: [140, 140],
            max_cols: 4,
            max_rows: 4,
            serialize_params: function($w, wgd) {
                return {
                    id: $($w).attr('title'),
                    index: ((wgd.row - 1) * 4) + (wgd.col - 1),   // Zero-based
                    //col: wgd.col,
                    //row: wgd.row,
                    //size_x: wgd.size_x,
                    //size_y: wgd.size_y,
                };
            },
            draggable: {
                start: function(event, ui) {
                    dragging = 1;
                },
                stop: function(event, ui) {
                    var indexes = JSON.stringify(this.serialize());
                    $("#reorder_photos input[name='grid']").attr("value", indexes);
                    $("form#reorder_photos").submit();
                }
            }
        }).data('gridster');

        // Prevent links inside gridster widgets to fire click event while dragging.
        $('.gridster img').click(function (e) {
            if (dragging == 1) {
                e.stopPropagation();    // Prevents the bubble to the prettyPhoto event handlers
                e.preventDefault();     // Prevents the picture from being shown
            }
            dragging = 0;
        });

        $(".gridster li").mouseover(function() {
            // Find the child "delete" class and show it on the hover
            $(this).find(".delete").show();
        });
        $(".gridster li").mouseout(function() {
            // Find the child "delete" class and show it on the hover
            $(this).find(".delete").hide();
        });
    }

    function reload_reorder_photos() {
        $("input#reorder_photos_token").val("{{ csrf_token }}");
        $("form#reorder_photos").submit(function(event) {
            event.preventDefault();
            $.ajax({
                type:"POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                dataType: "json",
                success: function(response){
                    $("#photos_ajax").html(response.html);
                    reload_photo_ajax();
                }
            });
            return false;
        });
    }

    var original_tag = "";
    function edit_tag() {
        var tag = $(".pp_pic_holder p.pp_description");
        if (tag.length) {
            var value = "";
            try {
                value = tag.text();
            } catch (err) {

            }
            if (value == " ") value = "";

            // Store in order to be able to revert
            original_tag = value;

            var replacement = "<textarea style='width: 95%;'>" + value + "</textarea>";
            replacement += "<a href='#' onclick='save_tag();'>Save</a> <a href='#' onclick='javascript:cancel_tag();'>Cancel</a>";
            tag.html(replacement);

            // Hide the edit link
            var edit_link = $(".pp_pic_holder a.edit_tag");
            if (edit_link.length) {
                edit_link.hide();
            }
        }
    }

    function save_tag() {
        var new_tag = "";
        var photo_name = "";

        var tag = $(".pp_pic_holder p.pp_description");
        var full_photo = $("#pp_full_res img");

        if (tag.length && full_photo.length) {
            // Switch the tag from the text area to the paragraph.
            new_tag = tag.find("textarea").val();
            tag.html(new_tag);

            // Find the a whose href is the path, and retrieve its name.
            var photo_path = full_photo.attr("src");

            var photo = $(".gridster a[href='" + photo_path + "']");
            if (photo.length) {
                photo_name = photo.attr("name");
            }

            // Perform save
            if (new_tag != "" && photo_name != "") {
                $("form#edit_photo_tag input[name='tag']").attr("value", new_tag);
                $("form#edit_photo_tag input[name='photo']").attr("value", photo_name);
                $("form#edit_photo_tag").submit();
            }
        }

        var edit_link = $(".pp_pic_holder a.edit_tag");
        if (edit_link.length) {
            edit_link.show();
        }
    }

    function cancel_tag() {
        var tag = $(".pp_pic_holder p.pp_description");
        if (tag.length) {
            tag.html(original_tag);
        }

        var edit_link = $(".pp_pic_holder a.edit_tag");
        if (edit_link.length) {
            edit_link.show();
        }
    }

    function reload_gallery_effects() {
        $("a[rel^='prettyPhoto']").prettyPhoto({
            theme: 'facebook', /* dark_rounded and dark_square also look good */
            opacity: 0.80,
            show_title: false,
            gallery_markup: '', /* Set to empty to remove hover-gallery */
            keyboard_shortcuts: true, /* Set to false if you open forms inside prettyPhoto */
            image_markup: '<img src="{path}" />',
            social_tools: '<a href="#" class="edit_tag" onclick="javascript:edit_tag();">edit</a>',   // TODO, switch css to pencil icon
        });
    }

    // TODO, consider user AJAX to make request, and remove elements from DOM tree
    // instead of reloading all of the other photos.
    function delete_photo(name) {
        $("form#delete_photo input[name='file']").val(name);
        $("form#delete_photo").submit();
    }

    // Catch-all for all functions that must be called after an AJAX request is performed.
    function reload_photo_ajax() {
        reload_reorder_photos();
        reload_grid();
        reload_gallery_effects();
    }

    $(function() {
        reload_upload();
        reload_photo_ajax();
    });
</script>
{% endblock %}

{% block content %}
<div style="clear: both;">
    <h2>{{ user.nick }}</h2>

    <h2><a href="/photos">Photos</a></h2>

    <!-- Box to upload new photo. TODO, make modal -->
    <div>
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}

        {% if new_photo %}
            <div id="new_photo">
                Successfully added photo. Try scaling it.
            </div>
        {% endif %}
        <div style="clear: both;"></div>
        <a href="#" onclick="javascript:open_file_chooser(event);">Add</a>
        <div id="upload_box" title="Upload Picture">
            <form id="upload" action="/photos/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file_path" accept="image/*" size="50"/>
                <br/>
                <a href="#">Facebook</a>
                <a href="#">Dropbox</a>
                <a href="#">Instagram</a>
            </form>
        </div>
    </div>

    <!-- http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/documentation -->
    <script type="text/javascript" charset="utf-8">
        jQuery.events = function(expr) {
            var rez = [], evo;
            jQuery(expr).each(
                function(){
                    if (evo = jQuery._data(this, "events"))
                        rez.push({element: this, events: evo});
                }
            );
            return rez.length > 0 ? rez : null ;
        }

        $(document).ready(function(){
            // TODO, useful way to find all event handlers associated with an object.
            //var event_list = jQuery.events("a") ;
            //var obj = JSON.stringify(event_list);
            //alert(obj);
        });
    </script>

    <div id="photos_ajax">
        {% include "photos_ajax.html" %}
    </div>

    <div style="clear: both;"></div>
</div>
{% endblock %}