{% load filters %}

<!-- Main photos -->
<div style="float: left; border: 2px solid black;">
    <section class="grid" style="background-color: transparent !important; margin: none !important;">
        <div class="gridster">
            <ul>
                {% for photo in user.user_photos|dictsort:"order" %}
                    <!-- The title is important since it is used in the AJAX request. -->
                    <li data-col="{{ forloop.counter0|column:4 }}" data-row="{{ forloop.counter0|int_div_plus_one:4 }}" data-sizex="1" data-sizey="1" title="{{ photo.name }}" style="padding: 5px;">
                        <!--
                        <img src="{{ photo.rel_path_s }}" />
                        -->
                        <!-- The rel attribute is what allows it to be a lightbox display. -->
                        <!-- The name is the lookup value retrieved when editing the photo tag. -->
                        <!-- There's a bug in prettyPhoto where the title gets weird values if at least one of them is None. -->
                        <a href="{{ photo.rel_path_l }}" rel="prettyPhoto[{{ user.nick }}]" title='{{ photo.tag|default_if_none:" " }}' name="{{ photo.name }}">
                            <!-- This is the thumbnail. -->
                            <img src="{{ photo.rel_path_s }}" width="120" height="120" class="image_frame"/>
                        </a>
                        <!-- The delete container must be enclosed with positive height in order for the li hover to stay while
                        the user moves the mouse from the image to the delete link. -->
                        <div style="height: 20px;">
                            <span class="delete" style="display: none; cursor: default;">
                                <a href="#" onclick="javascript:delete_photo('{{ photo.name }}')">delete</a>
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>

<!-- Sorting and deletion of photos. As well as editing photo tag. -->
<div>
    <!-- AJAX form used to sort photos. -->
    <form id="reorder_photos" action="/photos/reorder/" method="post">
        <input type="hidden" id="reorder_photos_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="grid" value="" />
    </form>

    <!-- Form to delete photos. -->
    <form id="delete_photo" action="/photos/delete/" method="post">
        {% csrf_token %}
        <input type="hidden" name="file" value="" />
    </form>

    <!-- AJAX frm used to edit the photo's tag. -->
    <form id="edit_photo_tag" action="/photos/edit/tag/" method="post">
        <input type="hidden" id="edit_photo_tag_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="photo" value="" />
        <input type="hidden" name="tag" value="" />
    </form>
</div>