{% extends "base.html" %}
{% block title %}{{ user.nick }} Photos{% endblock %}


{% block javascript %}
<!-- TODO, see effect on drag-n-drop -->
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->

<style>
#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin: 0 3px 3px 3px; padding: 2px; cursor: move; }
#sortable li span { margin-left: 20px; }
</style>


<script type="text/javascript">
    function upload_pic(event) {
        $("div#upload_box").show();
    }

    function cancel_upload(event) {
        $("div#upload_box").hide();
    }

    function reload_upload() {
        // Must be hidden after the form's events are set.
        $("input#upload_token").val("{{ csrf_token }}");
        $("div#upload_box").hide();
    }

    function delete_photo(name) {
        $("form#delete_photo input[name='file']").val(name);
        $("form#delete_photo").submit();
    }

    $(document).ready(function() {
        reload_upload();
    });

     $(function() {

        $("#sortable").sortable({
            axis: 'y',
            containment: "parent",
            cursor: "move",
            opacity: 0.5,
            // Try using "change" instead of "update"
            update: function( event, ui ) {
                alert("updated");
                var i = 0;
                $("#sortable li img").each(function() {
                    var img = $(this).attr("src");
                    alert("Index: " + i + ", src: " + img);
                    i++;
                });
            }
        });
        $("#sortable").disableSelection();
    });
</script>
{% endblock %}

{% block content %}
<div style="clear: both;">
    <h2>{{ user.nick }}</h2>

    <div id="customize_ajax">
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}

        {% if new_photo %}
            <div id="new_photo">
                Successfully added photo. Try scaling it.
            </div>
        {% endif %}
        <a href="#" onclick="javascript:upload_pic(event);">Add</a>
        <div id="upload_box" style="height: 400px; border: 2px solid black;">
            <form id="upload" action="/photos/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file_path" accept="image/*" size="50"/>
                <a href="#">Facebook</a>
                <a href="#">Dropbox</a>
                <a href="#">Instagram</a>
                <br/>
                <input type="submit" value="Upload">
                <a href="#" onclick="javascript:cancel_upload(event);">Cancel</a>
            </form>
        </div>
    </div>
    <form id="delete_photo" action="/photos/delete/" method="post">
        {% csrf_token %}
        <input type="hidden" name="file" value="" />
    </form>
    <div style="float: left; border: 2px solid black;">
        {% for photo in user.user_photos %}
            <div>
                <img src="{{ photo.rel_path_l }}" />
            </div>
        {% endfor %}
    </div>
    <div style="float: left; border: 2px solid black; padding: 10px;">
        <ul id="sortable">

            {% for photo in user.user_photos %}
                <li class="ui-state-default" class="sortable_item">
                    <div style="background-color: aqua;">
                        <img src="{{ photo.rel_path_xs }}" />
                        <a href="#" onclick="javascript:delete_photo('{{ photo.name }}')">delete (X)</a>
                        <!-- TODO come up with own image
                        <span class="ui-icon ui-icon-arrowthick-2-n-s" style="float: right;"></span>
                        -->
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock %}