<div id="curr_info">
        <h2>My Story</h2>
        <div class="essay" id="story">
            {{ user.story }}
        </div>

        <h2>Likes</h2>
        <div class="essay" id="likes">
            {{ user.likes }}
        </div>

        <h2>Goals</h2>
        <div class="essay" id="goals">
            {{ user.goals }}
        </div>

        <h2>Secret Talents</h2>
        <div class="essay" id="talents">
            {{ user.talents }}
        </div>

        <h2>Message me if ...</h2>
        <div class="essay" id="message_me_if">
            {{ user.message_me_if }}
        </div>
</div>


<form id="edit_essay" action="/profile/essay/" method="post" style="display: none;">
    <input id="edit_essay_token" type="hidden" name="csrfmiddlewaretoken" value="" />
    <input type="hidden" name="title" value="" />
    <input type="hidden" name="info" value="" />
</form>
