<span style="display: inline: float: left; font-size: 1.5em;">My Details</span>
<a id="toggle_stats" href="javascript:toggle_stats_form();" style="display: inline;">Edit</a>
<br/>
<table id="curr_stats">
    <tr>
        <td>Relationship:</td>
        <td>
            {% if user.relationship %}
                {{ user.relationship|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Personality:</td>
        <td>
            {% if user.personality %}
                {{ user.personality|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Humor:</td>
        <td>
            {% if user.humor %}
                {{ user.humor|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Ethnicity:</td>
        <td>
            {% if user.ethnicity %}
                {{ user.ethnicity|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Body type:</td>
        <td>
            {% if user.body %}
                {{ user.body|title }} build
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Height:</td>
        <td>
            {% if user.height and user.height > 0 %}
                {{ user.height }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Education:</td>
        <td>
            {% if user.education %}
                {{ user.education|title }}
            {% else %}
                -
            {% endif %}
            {% if user.college %}
                @ {{ user.college|title }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Job:</td>
        <td>
            {% if user.job %}
                {{ user.job|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Income:</td>
        <td>
            {% if user.income and user.income > 0 %}
                {% if user.income == 1000 %}
                    1M
                {% else %}
                    {{ user.income }}{% if user.income > 0 %}K{% endif %}
                {% endif %}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Religion:</td>
        <td>
            {% if user.religion %}
                {{ user.religion|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Political view:</td>
        <td>
            {% if user.politics %}
                {{ user.politics|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Kids:</td>
        <td>
            Have:
            {% if user.have_kids == "no" %}
                No
            {% elif user.have_kids == "part" %}
                Yes, and visit me
            {% elif user.have_kids == "full" %}
                Yes, and live with me
            {% elif not user.have_kids %}
                -
            {% else %}
                {{ user.have_kids }}
            {% endif %}
            <br/>
            Want:
            {% if user.want_kids == "yes" %}
                Yes, definitely
            {% elif user.want_kids == "ok" %}
                OK if partner has kids
            {% elif user.want_kids == "maybe" %}
                Maybe
            {% elif user.want_kids == "eventually" %}
                Eventually
            {% elif not user.want_kids %}
                -
            {% else %}
                {{ user.want_kids }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Drinks:</td>
        <td>
            {% if user.drink %}
                {{ user.drink|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Smoke:</td>
        <td>
            {% if user.smoke %}
                {{ user.smoke|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Pets:</td>
        <td>
            {% if user.pet %}
                {{ user.pet|title }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
</table>
<form id="edit_stats" action="/profile/stats/" method="post">
    <input id="edit_stats_token" type="hidden" name="csrfmiddlewaretoken" value="" />
    <table>
        <tr>
            <td>Relationship:</td>
            <td>
                <select name="relationship">
                    <option value="" {% if user.relationship == "" %} selected="selected" {% endif %}>-</option>
                    <option value="never married" {% if user.relationship == "never married" %} selected="selected" {% endif %}>Never married</option>
                    <option value="separated" {% if user.relationship == "separated" %} selected="selected" {% endif %}>Separated</option>
                    <option value="divorced" {% if user.relationship == "divorced" %} selected="selected" {% endif %}>Divorced</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Personality:</td>
            <td>
                <select name="personality">
                    <option value="" {% if user.personality == "" %} selected="selected" {% endif %}>-</option>
                    <option value="geek" {% if user.personality == "geek" %} selected="selected" {% endif %}>Geek</option>
                    <option value="jock" {% if user.personality == "jock" %} selected="selected" {% endif %}>Jock</option>
                    <option value="theater nerd" {% if user.personality == "theater nerd" %} selected="selected" {% endif %}>Theater Nerd</option>
                    <option value="prepster" {% if user.personality == "prepster" %} selected="selected" {% endif %}>Prepster</option>
                    <option value="rebel" {% if user.personality == "rebel" %} selected="selected" {% endif %}>Rebel</option>
                    <option value="slacker" {% if user.personality == "slacker" %} selected="selected" {% endif %}>Slacker</option>
                    <option value="foreigner" {% if user.personality == "foreigner" %} selected="selected" {% endif %}>Foreigner</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Humor:</td>
            <td>
                <select name="humor">
                    <option value="" {% if user.humor == "" %} selected="selected" {% endif %}>-</option>
                    <option value="awkward" {% if user.humor == "awkward" %} selected="selected" {% endif %}>Awkward</option>
                    <option value="self-deprecating" {% if user.humor == "self-deprecating" %} selected="selected" {% endif %}>Self-deprecating</option>
                    <option value="sarcastic" {% if user.humor == "sarcastic" %} selected="selected" {% endif %}>Sarcastic</option>
                    <option value="practical" {% if user.humor == "practical" %} selected="selected" {% endif %}>Practical</option>
                    <option value="geeky" {% if user.humor == "geeky" %} selected="selected" {% endif %}>Geeky</option>
                </select>

            </td>
        </tr>

        <tr>
            <td>Ethnicity:</td>
            <td>
                <input type="radio" name="ethnicity" value="asian" {% if user.ethnicity == "asian" %} checked {% endif %}>Asian<br>
                <input type="radio" name="ethnicity" value="black" {% if user.ethnicity == "black" %} checked {% endif %}>Black<br>
                <input type="radio" name="ethnicity" value="hispanic",{% if user.ethnicity == "hispanic" %} checked {% endif %}>Hispanic/Latin<br>
                <input type="radio" name="ethnicity" value="middle eastern" {% if user.ethnicity == "middle eastern" %} checked {% endif %}>Middle Eastern<br>
                <input type="radio" name="ethnicity" value="native american" {% if user.ethnicity == "native american" %} checked {% endif %}>Native American<br>
                <input type="radio" name="ethnicity" value="pacific islander" {% if user.ethnicity == "pacific islander" %} checked {% endif %}>Pacific Islander<br>
                <input type="radio" name="ethnicity" value="white" {% if user.ethnicity == "white" %} checked {% endif %}>White<br>
                <input type="radio" name="ethnicity" value="other" {% if user.ethnicity == "other" or user.ethnicity == "" %} checked {% endif %}>Other
            </td>
        </tr>

        <tr>
            <td>Body type:</td>
            <td>
                <select name="body">
                    <option value="" {% if user.body == "" %} selected="selected" {% endif %}>-</option>
                    <option value="slender" {% if user.body == "slender" %} selected="selected" {% endif %}>Slender</option>
                    <option value="athletic" {% if user.body == "athletic" %} selected="selected" {% endif %}>Athletic</option>
                    <option value="average" {% if user.body == "average" %} selected="selected" {% endif %}>Average</option>
                    <option value="above average" {% if user.body == "above average" %} selected="selected" {% endif %}>Above Average</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Height:</td>
            <td>
                <select name="height">
                    <option value="" {% if not user.height or user.height == 0 %} select="selected" {% endif %}>-</option>
                    <option value="142" {% if user.height == 142 %} select="selected" {% endif %}>4'8'' (142 cm)</option>
                    <option value="144" {% if user.height == 144 %} select="selected" {% endif %}>4'9'' (144 cm)</option>
                    <option value="147" {% if user.height == 147 %} select="selected" {% endif %}>4'10'' (147 cm)</option>
                    <option value="149" {% if user.height == 149 %} select="selected" {% endif %}>4'11'' (149 cm)</option>
                    <option value="152" {% if user.height == 152 %} select="selected" {% endif %}>5'0'' (152 cm)</option>
                    <option value="154" {% if user.height == 154 %} select="selected" {% endif %}>5'1'' (154 cm)</option>
                    <option value="157" {% if user.height == 157 %} select="selected" {% endif %}>5'2'' (157 cm)</option>
                    <option value="160" {% if user.height == 160 %} select="selected" {% endif %}>5'3'' (160 cm)</option>
                    <option value="162" {% if user.height == 162 %} select="selected" {% endif %}>5'4'' (162 cm)</option>
                    <option value="165" {% if user.height == 165 %} select="selected" {% endif %}>5'5'' (165 cm)</option>
                    <option value="167" {% if user.height == 167 %} select="selected" {% endif %}>5'6'' (167 cm)</option>
                    <option value="170" {% if user.height == 170 %} select="selected" {% endif %}>5'7'' (170 cm)</option>
                    <option value="172" {% if user.height == 172 %} select="selected" {% endif %}>5'8'' (172 cm)</option>
                    <option value="175" {% if user.height == 175 %} select="selected" {% endif %}>5'9'' (175 cm)</option>
                    <option value="177" {% if user.height == 177 %} select="selected" {% endif %}>5'10'' (177 cm)</option>
                    <option value="180" {% if user.height == 180 %} select="selected" {% endif %}>5'11'' (180 cm)</option>
                    <option value="182" {% if user.height == 182 %} select="selected" {% endif %}>6'0'' (182 cm)</option>
                    <option value="185" {% if user.height == 185 %} select="selected" {% endif %}>6'1'' (185 cm)</option>
                    <option value="187" {% if user.height == 187 %} select="selected" {% endif %}>6'2'' (187 cm)</option>
                    <option value="190" {% if user.height == 190 %} select="selected" {% endif %}>6'3'' (190 cm)</option>
                    <option value="193" {% if user.height == 193 %} select="selected" {% endif %}>6'4'' (193 cm)</option>
                    <option value="195" {% if user.height == 195 %} select="selected" {% endif %}>6'5'' (195 cm)</option>
                    <option value="198" {% if user.height == 198 %} select="selected" {% endif %}>6'6'' (198 cm)</option>
                    <option value="200" {% if user.height == 200 %} select="selected" {% endif %}>6'7'' (200 cm)</option>
                    <option value="203" {% if user.height == 203 %} select="selected" {% endif %}>6'8'' (203 cm)</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Education:</td>
            <td>
                <select name="education">
                    <option value="" {% if user.education == "" %} selected="selected" {% endif %}>-</option>
                    <option value="highschool" {% if user.education == "highschool" %} selected="selected" {% endif %}>Highschool</option>
                    <option value="associates" {% if user.education == "associates" %} selected="selected" {% endif %}>Associates</option>
                    <option value="university" {% if user.education == "university" %} selected="selected" {% endif %}>University</option>
                    <option value="masters" {% if user.education == "masters" %} selected="selected" {% endif %}>Masters</option>
                    <option value="grad school" {% if user.education == "grad school" %} selected="selected" {% endif %}>Grad School</option>
                </select>

                @ <input type="text" name="college" value="{% if user.college %}{{ user.college }}{% endif %}" placeholder="Alma Mater">
            </td>
        </tr>

        <tr>
            <td>Job:</td>
            <td><input type="text" name="job" value="{% if user.job %}{{ user.job }}{% endif %}" placeholder="Profession">
            </td>
        </tr>

        <tr>
            <td>Income:</td>
            <td>
                <select name="income">
                    <option value="0" {% if not user.income or user.income == 0 %} selected="selected" {% endif %}>-</option>
                    <option value="20" {% if user.income == 20 %} selected="selected" {% endif %}>20k</option>
                    <option value="30" {% if user.income == 30 %} selected="selected" {% endif %}>30k</option>
                    <option value="40" {% if user.income == 40 %} selected="selected" {% endif %}>40k</option>
                    <option value="50" {% if user.income == 50 %} selected="selected" {% endif %}>50k</option>
                    <option value="60" {% if user.income == 60 %} selected="selected" {% endif %}>60k</option>
                    <option value="80" {% if user.income == 80 %} selected="selected" {% endif %}>80k</option>
                    <option value="100" {% if user.income == 100 %} selected="selected" {% endif %}>100k</option>
                    <option value="150" {% if user.income == 150 %} selected="selected" {% endif %}>150k</option>
                    <option value="250" {% if user.income == 250 %} selected="selected" {% endif %}>250k</option>
                    <option value="500" {% if user.income == 500 %} selected="selected" {% endif %}>500k</option>
                    <option value="1000" {% if user.income == 1000 %} selected="selected" {% endif %}>1m</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Religion:</td>
            <td>
                <select name="religion">
                    <option value="" {% if not user.religion or user.religion == "" %} selected="selected" {% endif %}>-</option>
                    <option value="agnosticism" {% if user.religion == "agnosticism" %} selected="selected" {% endif %}>Agnosticism</option>
                    <option value="atheism" {% if user.religion == "atheism" %} selected="selected" {% endif %}>Atheism</option>
                    <option value="buddhism" {% if user.religion == "buddhism" %} selected="selected" {% endif %}>Buddhism</option>
                    <option value="catholicism" {% if user.religion == "catholicism" %} selected="selected" {% endif %}>Catholicism</option>
                    <option value="christianity" {% if user.religion == "christianity" %} selected="selected" {% endif %}>Christianity</option>
                    <option value="judaism" {% if user.religion == "judaism" %} selected="selected" {% endif %}>Judaism</option>
                    <option value="islam" {% if user.religion == "islam" %} selected="selected" {% endif %}>Islam</option>
                    <option value="spiritual" {% if user.religion == "spiritual" %} selected="selected" {% endif %}>Spiritual</option>
                    <option value="other" {% if user.religion == "other" %} selected="selected" {% endif %}>Other</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Political view:</td>
            <td>
                <select name="politics">
                    <option value="" {% if not user.politics or user.politics == "" %} selected="selected" {% endif %}>-</option>
                    <option value="very conservative" {% if user.politics == "very conservative" %} selected="selected" {% endif %}>Very Conservative</option>
                    <option value="conservative" {% if user.politics == "conservative" %} selected="selected" {% endif %}>Conservative</option>
                    <option value="middle" {% if user.politics == "middle" %} selected="selected" {% endif %}>Middle</option>
                    <option value="liberal" {% if user.politics == "liberal" %} selected="selected" {% endif %}>Liberal</option>
                    <option value="very liberal" {% if user.politics == "very liberal" %} selected="selected" {% endif %}>Very Liberal</option>
                    <option value="other" {% if user.politics == "other" %} selected="selected" {% endif %}>Other</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Kids:</td>
            <td>
                <select name="have_kids">
                    <option value="" {% if not user.have_kids or user.have_kids == "" %} selected="selected" {% endif %}>-</option>
                    <option value="no" {% if user.have_kids == "no" %} selected="selected" {% endif %}>Don't have kids</option>
                    <option value="full" {% if user.have_kids == "full" %} selected="selected" {% endif %}>Have, and live with me</option>
                    <option value="part" {% if user.have_kids == "part" %} selected="selected" {% endif %}>Have, and visit me</option>
                </select>
                and
                <br/>
                <select name="want_kids">
                    <option value="" {% if not user.have_kids or user.want_kids == "" %} selected="selected" {% endif %}>-</option>
                    <option value="yes" {% if user.want_kids == "yes" %} selected="selected" {% endif %}>Want kids</option>
                    <option value="ok" {% if user.want_kids == "ok" %} selected="selected" {% endif %}>OK if partner has kids</option>
                    <option value="maybe" {% if user.want_kids == "maybe" %} selected="selected" {% endif %}>Maybe want kids</option>
                    <option value="eventually" {% if user.want_kids == "eventually" %} selected="selected" {% endif %}>Eventually want kids</option>
                    <option value="no" {% if user.want_kids == "no" %} selected="selected" {% endif %}>Don't want kids</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Drink:</td>
            <td>
                <select name="drink">
                    <option value="" {% if not user.drink or user.drink == "" %} selected="selected" {% endif %}>-</option>
                    <option value="not at all" {% if user.drink == "not at all" %} selected="selected" {% endif %}>Not at all</option>
                    <option value="rarely" {% if user.drink == "rarely" %} selected="selected" {% endif %}>Rarely</option>
                    <option value="socially" {% if user.drink == "socially" %} selected="selected" {% endif %}>Socially</option>
                    <option value="often" {% if user.drink == "often" %} selected="selected" {% endif %}>Often</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Smoke:</td>
            <td>
                <select name="smoke">
                    <option value="" {% if not user.smoke or user.smoke == "" %} selected="selected" {% endif %}>-</option>
                    <option value="no" {% if user.smoke == "no" %} selected="selected" {% endif %}>No</option>
                    <option value="sometimes" {% if user.smoke == "sometimes" %} selected="selected" {% endif %}>Sometimes</option>
                    <option value="trying to quit" {% if user.smoke == "trying to quit" %} selected="selected" {% endif %}>Trying to quit</option>
                    <option value="yes" {% if user.smoke == "yes" %} selected="selected" {% endif %}>Yes</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Pets:</td>
            <td>
                <select name="pet">
                    <option value="" {% if not user.pet or user.pet == "" %} selected="selected" {% endif %}>-</option>
                    <option value="dog" {% if user.pet == "dog" %} selected="selected" {% endif %}>Dog</option>
                    <option value="cat" {% if user.pet == "cat" %} selected="selected" {% endif %}>Cat</option>
                    <option value="bird" {% if user.pet == "bird" %} selected="selected" {% endif %}>Bird</option>
                    <option value="fish" {% if user.pet == "fish" %} selected="selected" {% endif %}>Fish</option>
                    <option value="exotic" {% if user.pet == "exotic" %} selected="selected" {% endif %}>Exotic</option>
                    <option value="farm" {% if user.pet == "farm" %} selected="selected" {% endif %}>Farm</option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
    <button type="reset">Reset</button>
</form>