{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block javascript %}
<script type="text/javascript">

    function show_color_on_value(obj){
        var val = obj.attr("value");
        val = val.replace(/^\s+|\s+$/g,'');
        if (val == "") {
            obj.addClass("red_on_empty");
        } else {
            obj.removeClass("red_on_empty");
        }
    }

    function show_gender() {
        var value = $("select#gender").attr("value");
        $("img.gender").hide();
        $("img." + value).show();
    }

    function show_partner() {
        var gender = $("select#gender").attr("value");
        var orientation = $("select#orientation").attr("value");

        $("img.partner").hide();

        var partner = "none";
        if (orientation == "bisexual") {
            partner = "both";
        } else {
            var combo = gender + ":" + orientation;
            switch (combo) {
                case "male:straight":
                    partner = "women";
                    break;
                case "male:gay":
                    partner = "men";
                    break;
                case "female:straight":
                    partner = "men";
                    break;
                case "female:gay":
                    partner = "women";
                    break;
            }
        }

        $("img." + partner).show();
    }

    function is_username_valid(username) {
        if (username != "") {
            username = username.replace(/^\s+|\s+$/g,'');
            var re = /^[A-z0-9_\-]+$/i;
            var found = username.match(re);
            if (found != null) {
                return true;
            }
        }
        return false;
    }

    $(document).ready(function() {
        $("form#signup input[name='nick']").keyup(function() {
            var value = $(this).attr("value");
            value = value.replace(/^\s+|\s+$/g,'');

            if (value != "") {
                var valid = is_username_valid(value);

                if (valid) {
                    $("form#presignup input[name='nick']").attr("value", value);
                    // Submit the Pre-Signup form
                    $("form#presignup").submit();
                } else {
                    $("#signup_ajax").html("<span style='color: red;'>Must only contain letters, numbers, dashes, and underscores.</span>");
                }
            } else {
                $("#signup_ajax").html("");
            }
        });


        $("form#presignup").submit(function(event) {
            event.preventDefault();

            $.ajax({
                type:"POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                dataType: "json",
                success: function(response){
                    $("#signup_ajax").html(response.html);
                }
            });
            return false;
        });

        $("input.required").keyup(function() {
            show_color_on_value($(this));
        });

        $("select#gender").change(function() {
            show_gender($(this));
            show_partner();
        });

        $("select#orientation").change(function() {
            show_partner();
        });

        // Initialize
        $("#signup_ajax").html("");

        $(".required").each(function() {
            show_color_on_value($(this));
        });

        show_gender();
        show_partner();
    });
</script>
{% endblock %}

{% block content %}
{% if error %}
  <span style="color: red;">{{ error }}</span><br/>
{% endif %}

<form id="signup" action="/signup/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="text" name="nick" value="{{ nick }}" class="required red_on_empty" placeholder="Username"></td>
            <td>
                <div id="signup_ajax" style="margin-left: 10px;">
                    {% include "signup_ajax.html" %}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="first_name" value="{{ first_name }}" class="required red_on_empty" placeholder="First Name"><br/>
                <input type="text" name="last_name" value="{{ last_name }}" class="required red_on_empty" placeholder="Last Name">
            </td>
        </tr>
        <tr>
            <td><input type="text" name="email" value="{{ email }}" class="required red_on_empty" placeholder="E-mail"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="password" name="password" value="" class="required red_on_empty" placeholder="Password"></td>
        </tr>
        <tr>
            <td colspan="2">
                I am a
                <select id="gender" name="gender" class="required red_on_empty">
                    <option value="female" {% if gender == "female" %} selected="selected" {% endif %}>Girl</option>
                    <option value="male" {% if gender == "male" %} selected="selected" {% endif %}>Guy</option>
                </select>
                <div style="display: inline; top: 20px; position: relative;">
                    <img src="/static/images/woman.gif" class="female gender" />
                    <img src="/static/images/man.gif" class="male gender" />
                </div>
                and
                <select id="orientation" name="orientation" class="required red_on_empty">
                    <option value="straight" {% if orientation == "straight" %} selected="selected" {% endif %}>Straight</option>
                    <option value="gay" {% if orientation == "gay" %} selected="selected" {% endif %}>Gay</option>
                    <option value="bisexual" {% if orientation == "bisexual" %} selected="selected" {% endif %}>Bisexual</option>
                </select>
                so I want to find
                <div style="display: inline; top: 20px; position: relative;">
                    <img src="/static/images/men.gif" class="men partner" />
                    <img src="/static/images/women.gif" class="women partner" />
                    <img src="/static/images/both.gif" class="both partner" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Sign Up">
            </td>
        </tr>
    </table>
</form>

<!-- AJAX form used to submit the nickname for availability. -->
<form id="presignup" action="/signup/" method="post">
    {% csrf_token %}
    <input type="hidden" name="nick" value="">
</form>
{% endblock %}