.red_on_empty {
    background: yellow;
}

.asterisk {
    color: red;
}

.essay {
    border: 1px solid black;
    min-height: 25px;
    min-width: 100px;
    max-width: 1000px;
    width: 100%;
    padding: 0px;
}

div.essay:hover {
    background-color: #FBEFEF;  /* really light salmon */
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.essay textarea {
    margin: 0px;
}